/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#page-wrapper {
  padding-top: 50px;
}
.reset {
  border: 0;
  padding: 0;
  margin: 0;
}
.blue-gradient {
  background: #005daa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #005daa 0%, #004a87 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005daa), color-stop(100%, #004a87));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #005daa 0%, #004a87 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #005daa 0%, #004a87 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #005daa 0%, #004a87 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #005daa 0%, #004a87 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005daa', endColorstr='#004a87', GradientType=0);
  /* IE6-9 */
}
.full-width {
  width: 100%;
}
.arrows-width {
  max-width: 1360px;
  width: 95%;
  margin: 0 auto;
}
.default-width {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.visible-arrows #back-arrow,
.visible-arrows #forward-arrow {
  display: block;
  position: absolute;
  height: 73px;
  width: 23px;
  background-size: 100%;
  top: 110px;
}
.visible-arrows #back-arrow:hover,
.visible-arrows #forward-arrow:hover {
  cursor: pointer;
}
.visible-arrows #back-arrow {
  background-image: url("../images/arrow-back-white.png");
  left: 0;
}
.visible-arrows #forward-arrow {
  background-image: url("../images/arrow-forward-white.png");
  right: 0;
}
.last-child-fix {
  padding-right: 0;
  margin-right: 0;
}
.all-columns {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}
.column-6 {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  width: 184px;
}
.column-6:nth-child(6n+6) {
  padding-right: 0;
  margin-right: 0;
}
.column-5 {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  max-width: 225px;
  width: 5%;
}
.column-5:nth-child(5n+5) {
  padding-right: 0;
  margin-right: 0;
}
.column-4 {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  width: 285px;
}
.column-4:nth-child(4n+4) {
  padding-right: 0;
  margin-right: 0;
}
.clearfixing {
  content: "";
  display: table;
  clear: both;
}
body {
  font: 300 15px/140% 'Open Sans', sans-serif;
}
h2 {
  font-size: 22px;
  font-weight: 600;
}
h3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
h1 a,
h2 a,
h3 a {
  color: #252729;
  text-decoration: none;
}
#main-wrapper .block:before {
  content: '';
}
.block-width {
  position: relative;
  top: 70px;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.block-width .arrows {
  display: none;
}
.block-width h2 {
  display: none;
}
.standard-button {
  display: inline-block;
  text-transform: capitalize;
  font-weight: 600;
  color: white;
  padding: 8px 15px 8px 15px;
  background-color: #005daa;
  margin-top: 7px;
  float: right;
}
.standard-button:after {
  content: "";
  display: table;
  clear: both;
}
.date-styles {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: top;
}
#block-views-redesign-events-block {
  background-color: #e7e7e8;
  height: 440px;
}
#block-views-redesign-events-block > .block-width {
  max-width: 1360px;
  width: 95%;
  margin: 0 auto;
}
#block-views-redesign-events-block > .block-width #back-arrow,
#block-views-redesign-events-block > .block-width #forward-arrow {
  display: block;
  position: absolute;
  height: 73px;
  width: 23px;
  background-size: 100%;
  top: 110px;
}
#block-views-redesign-events-block > .block-width #back-arrow:hover,
#block-views-redesign-events-block > .block-width #forward-arrow:hover {
  cursor: pointer;
}
#block-views-redesign-events-block > .block-width #back-arrow {
  background-image: url("../images/arrow-back-white.png");
  left: 0;
}
#block-views-redesign-events-block > .block-width #forward-arrow {
  background-image: url("../images/arrow-forward-white.png");
  right: 0;
}
#block-views-redesign-events-block .slider-wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#block-views-redesign-events-block .view-content {
  position: relative;
  height: 300px;
  left: 0px;
  transition: left 0.8s;
}
#block-views-redesign-events-block .view-content .views-row {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  max-width: 225px;
  width: 5%;
  background-color: white;
  height: 290px;
  margin-bottom: 15px;
}
#block-views-redesign-events-block .view-content .views-row:nth-child(5n+5) {
  padding-right: 0;
  margin-right: 0;
}
#block-views-redesign-events-block .view-content .views-row .event-date-wrapper {
  background: #005daa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #005daa 0%, #004a87 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005daa), color-stop(100%, #004a87));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #005daa 0%, #004a87 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #005daa 0%, #004a87 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #005daa 0%, #004a87 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #005daa 0%, #004a87 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005daa', endColorstr='#004a87', GradientType=0);
  /* IE6-9 */
  color: white;
  box-sizing: border-box;
  padding: 10px 15px 25px 15px;
}
#block-views-redesign-events-block .view-content .views-row .event-date-wrapper > div:first-child {
  color: #6a9ad8;
}
#block-views-redesign-events-block .view-content .views-row .event-date-wrapper > div:nth-child(2) {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: top;
  font-size: 22px;
}
#block-views-redesign-events-block .view-content .views-row .event-date-wrapper > div:last-child {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  vertical-align: top;
  font-size: 38px;
  position: relative;
  top: 5px;
}
#block-views-redesign-events-block .view-content .views-row .views-field-nothing {
  box-sizing: border-box;
  padding: 15px;
  font-size: 13px;
  height: 215px;
}
#block-views-redesign-events-block .view-content .views-row .views-field-nothing span {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
#block-views-redesign-events-block .view-content .views-row .views-field-nothing div:last-child {
  position: absolute;
  bottom: 0;
  font-weight: 600;
  color: #00325b;
}
